.header {
  background-color: $header-bg;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(8px);

}

.header .container  {
   display: flex; 
   justify-content: space-between; 
   align-items: center; 
   padding: 1rem; }


   .header__menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}


/* LOGO */
.header__logo a {
  font-weight: bold;
  font-size: 1.25rem;
  color: #ffffff;
}

/* LINKS */
.header__menu a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: $text-light;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* HOVER */
.header__menu a:hover {
  color: $accent;
}

.btn--primary {
  background-color: $accent;
  color: #fff;
  transition: background 0.3s ease;
}

.btn--primary:hover {
  background-color: $accent-hover;
}


/* MOBILE (opcional ocultar) */
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
