.services {
  background: linear-gradient(to bottom, #87a8ca, #e2e8f0);
}

.services .service {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  margin-bottom: 3rem;
}

.services__grid {
  display: grid;
  gap: 2rem;
}

.service img {
  margin-bottom: 1rem;
  border-radius: 6px;
}

.services__grid {
  @include responsive-grid(1, 2, 3);
}
